<section class="card login">

    <md-content style="background-color:#E6E6E6">
   
    <md-input-container class="md-icon-float md-block">
      <label> start Latitude</label>
      <input type="number" step="0.01" ng-model="start_lat">

    <md-content style="background-color:#E4FCF9">
   
    <md-input-container class="md-icon-float md-block">
      <label> start Latitude</label>
      <input type="number" step="0.01" ng-model="data.start_lat">

    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> start Longitude</label>

      <input type="number" step="0.01" ng-model="start_lng">

      <input type="number" step="0.01" ng-model="data.start_lng">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> start Time</label>
      <input type="number" step="0.01" ng-model="data.start_time">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> City name</label>
      <input type="text"  ng-model="data.start_city_name">

    </md-input-container>
        
  
    <md-input-container class="md-icon-float md-block">
      <label> End Latitude</label>

      <input type="number" step="0.01" ng-model="start_lat">

      <input type="number" step="0.01" ng-model="data.end_lat">

    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> End Longitude</label>

      <input type="number" step="0.01" ng-model="start_lng">
    </md-input-container>


    <p>Mode: <span class="radioValue">{{ data.group1 }}</span> </p>

    <md-radio-group ng-model="data.group1">
      <md-radio-button value="Car" class="md-primary">Car</md-radio-button>
      <md-radio-button value="Bike"> Bike </md-radio-button>
      <md-radio-button value="Metro">Metro</md-radio-button>
      <md-radio-button value="Bus">Bus</md-radio-button>
    </md-radio-group>

      <input type="number" step="0.01" ng-model="data.end_lng">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> End Time</label>
      <input type="number" step="0.01" ng-model="data.end_time">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> End Location</label>
      <input type="text"  ng-model="data.end_city_name">
    </md-input-container>
             
    <label for="repeatSelect"> Mode: </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="data.mode" >
    <option ng-repeat="option in data.availableModes" value="{{option.mode}}">{{option.mode}}</option>
    </select>

  
    <md-input-container class="md-icon-float md-block">
      <label> Project id</label>
      <input type="text"  ng-model="data.project_id">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> Purpose</label>
      <input type="text"  ng-model="data.purpose">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> Active</label>
      <input type="text"  ng-model="data.actve">
    </md-input-container>


   
   <md-input-container class="md-block">
          <label>Comments</label>

          <textarea ng-model="comments" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
    </br>
    <md-button class="md-raised md-primary" ng-click="submit()">Save</md-button>
    

          <textarea ng-model="data.comments" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
    </br>
    <div layout="row">
        <div flex="40"></div>
        <div flex="33">
        <md-button class="md-raised md-primary "  style="align:center" ng-click="eventplan(data)">Save</md-button>
        </div>
         <div flex></div>

    </br>
    </md-content>
</section>
