<section class="card login">
    <md-content style="background-color:#E4FCF9">

    <md-input-container class="md-icon-float md-block">
      <label> User id</label>
      <input type="text" ng-model="userid">
    </md-input-container>
   
    <md-input-container class="md-icon-float md-block">
      <label> start Latitude</label>
      <input type="number" step="0.01" ng-model="data.planning.start.lat">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> start Longitude</label>
      <input type="number" step="0.01" ng-model="data.planning.start.lng">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> start Time</label>
      <input type="number" step="0.01" ng-model="data.planning.start.time">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> start Location</label>
      <input type="text"  ng-model="data.planning.start.location">
    </md-input-container>
        
  
    <md-input-container class="md-icon-float md-block">
      <label> End Latitude</label>
      <input type="number" step="0.01" ng-model="data.planning.end.lat">
    </md-input-container>

    <md-input-container class="md-icon-float md-block">
      <label> End Longitude</label>
      <input type="number" step="0.01" ng-model="data.planning.end.lng">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> End Time</label>
      <input type="number" step="0.01" ng-model="data.planning.end.time">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> End Location</label>
      <input type="text"  ng-model="data.planning.end.location">
    </md-input-container>
             
    <label for="repeatSelect"> Mode: </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="data.planning.mode" >
    <option ng-repeat="option in dats.availableModes" value="{{option.mode}}">{{option.mode}}</option>
    </select>

  
    <md-input-container class="md-icon-float md-block">
      <label> Project id</label>
      <input type="text"  ng-model="data.planning.project_id">
    </md-input-container>

     <md-input-container class="md-icon-float md-block">
      <label> Purpose</label>
      <input type="text"  ng-model="data.planning.purpose">
    </md-input-container>

   
   <md-input-container class="md-block">
          <label>Comments</label>
          <textarea ng-model="data.planning.comments" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
    </br>
    <div layout="row">
        <div flex="40"></div>
        <div flex="33">
        <md-button class="md-raised md-primary "  style="align:center" ng-click="eventplan(data)">Save</md-button>
        </div>
         <div flex></div>
    </br>
    </md-content>
</section>
